/.settings/
/ConferenceWebApplication/.settings/
/.project
/ConferenceWebApplication/.classpath
/ConferenceWebApplication/.project
/ConferenceWebApplication/target/
/SessionService/.classpath
/SessionService/.settings/
/SessionService/.project
/SessionService/target/
/SpeakerService/.settings/
/SpeakerService/.project
/SpeakerService/.classpath
/SpeakerService/target/